@{
    ViewBag.Title = "無權限";
}

<div class="container">
    <h2>無權限</h2>
    <p>您沒有權限訪問此頁面。請聯繫系統管理員以獲取更多信息。</p>
    <p> <a href="@Url.Action("Index", "Home")" class="btn btn-outline-primary">返回首頁</a></p>
   
</div>
