* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

.all-content {
    background: #f7f5f2;

}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    /*background: #505637;*/
    background: #f4f4ea;
    border-radius: 10px;
}

html::-webkit-scrollbar {
    width: 10px;
}
/* navbar */
#navbar {
    /*background-color: #505637;*/
    background-color: #505637;
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 100%; /* 確保寬度為 100% */
}

#logo img {
    border-radius: 10px;
    width: 160px;
    margin-left: 40px;
}

.navbar-nav {
    margin-left: 50px;
}

.nav-item .nav-link {
    /*color: black;*/
    color: #f7f5f2;
    margin-left: 10px;
    font-weight: bold;
    transition: 0.5s;
}

    .nav-item .nav-link:hover {
        background: #f7f5f2;
        border-radius: 5px;
        color: black;
    }

#navbar form button {
    background: black;
    color: white;
    border: 1px solid white;
}
/* navbar */
/* home content */
#home {
    /*width: 100%;
    height: 90vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(~/img/bc3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    font-family: 'Roboto', sans-serif;*/

    width: 100%;
/*    height: 90vh;*/
    background-position: 80%;
    font-family: 'Roboto', sans-serif;
}

.content {
    /*padding-top: 210px;
  margin-left: 56px;*/
    padding-top: 300px;
    margin-left: 0px;
    background: url('/img/logo/room.png');
    background-size: unset;
    opacity: 0.8;
}

.up {
    position: absolute;
}

.content h3 {
    font-size: 50px;
    color: white;
    text-align: center;
    opacity: 0.8;
}

.content p {
    margin-top: 10px;
    color: white;
    text-align: center;
}

#btn {
    /*width: 150px;
  height: 36px;
  margin-top: 20px;
  background: white;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;*/

    width: 150px;
    height: 36px;
    margin-top: 30px;
    background-color: #f7f5f2;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
    color: #505637;
    text-align: center;
    margin-bottom: 20px;
}

    #btn:hover {
        background: #505637;
        color: white;
    }
/* home content */






/* about */
#about {
    width: 100%;
    background: #f7f5f2;
    font-family: 'Roboto', sans-serif;
}

    #about .container {
        padding-top: 70px;
    }

.heading {
    text-align: center;
    margin-bottom: 50px;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

    .heading span {
        color: #505637;
    }

#about .card {
    border-radius: 10px;
}

    #about .card img {
        border-radius: 10px;
    }

#about-btn {
    width: 200px;
    height: 36px;
    background: transparent;
    border: 2px solid #505637;
    color: #505637;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}

.chair {
    border-radius: 8px; /* 圓角效果 */
    border: 2px solid #ddd; /* 添加邊框 */
    margin-left: 50px; /* 向右移動 */
    margin-top: 10px; /* 向下移動 */
}

.Special {
    margin-top: 60px; /* 向下移動 */
}

#about-btn:hover {
    background: #505637;
    color: white;
}

@media screen and (max-width:982px) {
    #about p {
        font-size: 8px;
    }
}

@media screen and (max-width:766px) {
    #about p {
        font-size: 15px;
    }

    #about {
        height: 120vh;
    }
}
/* about */

/* top cards */
.top-cards {
    width: 100%;
    height: 60vh;
    background: #f7f5f2;
    font-family: 'Roboto', sans-serif;
}

.heading2 {
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

    .heading2 span {
        color: #505637;
    }

.top-cards .container {
    margin-top: 30px;
}

.top-cards .card {
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

    .top-cards .card img {
        border-radius: 10px;
    }

    .top-cards .card h3 {
        text-align: center;
        padding-top: 78px;
        color: white;
    }

    .top-cards .card:hover {
        transform: translateY(-10px);
    }

@media screen and (max-width:767px) {
    .top-cards {
        height: 170vh;
    }
}

@media screen and (max-width:500px) {
    .top-cards {
        height: 150vh;
    }
}

@media screen and (max-width:370px) {
    .top-cards {
        height: 120vh;
    }
}
/* top cards */







/* menu */
.menu {
    width: 100%;
    background: #f7f5f2;
    font-family: 'Roboto', sans-serif;
}

.heading3 {
    text-align: center;
    font-size: 30px;
    color: #505637;
    font-weight: bold;
    border-bottom: 2px solid #505637;
}

#container2 {
    margin-top: 20px;
}

.menu .card {
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.star i {
    color: #505637;
}

.menu h3 {
    color: #505637;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
}

.menu p {
    font-size: 16px;
    color: #505637;
    padding-top: 10px;
}

    .menu p span {
        float: right;
        cursor: pointer;
    }
/* menu */







/* product */
.product {
    width: 100%;
    background: #f7f5f2;
    font-family: 'Roboto', sans-serif;
}

.heading4 {
    text-align: center;
    color: #505637;
    font-size: 30px;
    font-weight: bold;
    padding-top: 70px;
    border-bottom: 2px solid #505637;
}

#container3 {
    margin-top: 30px;
}

.product h3 {
    text-align: center;
    color: #505637;
    font-size: 23px;
}

.product p {
    color: #505637;
    padding-top: 10px;
}

    .product p span {
        float: right;
        cursor: pointer;
    }
/* product */







/* gallary */
#gallary {
    width: 100%;
}

    #gallary h1 {
        text-align: center;
        color: black;
        margin-top: 60px;
        font-weight: bold;
    }

        #gallary h1 span {
            color: #505637;
        }

    #gallary .card {
        border-radius: 10px;
    }

        #gallary .card img {
            border-radius: 10px;
            cursor: pointer;
        }
/* gallary */




/* contact */
.contact {
    width: 100%;
    height: 100vh;
    background: #f7f5f2;
    padding-top: 70px;
}

    .contact .container {
        width: 100%;
        height: 80vh;
        background: white;
        background: linear-gradient(90deg, white 80%, #505637 20%);
        border-radius: 10px;
    }

.heading6 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 70px;
}

    .heading6 span {
        color: #505637;
    }

.contact p {
    font-weight: bold;
    font-size: 13px;
    color: black;
}

.contact input {
    width: 360px;
    border: none;
    border-bottom: 1px solid;
}

#contact-btn {
    width: 200px;
    height: 36px;
    border: none;
    background: #505637;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
}

#col {
    width: 40%;
    height: 56vh;
    background: black;
    margin-top: 78px;
}

.contact h1 {
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}

.contact #col p {
    font-size: 15px;
    color: white;
    margin-left: 13px;
    padding-top: 30px;
}

@media screen and (max-width:766px) {
    .contact .container {
        background: white;
    }

    #col {
        width: 100%;
        background: #505637;
    }

    .contact {
        height: 150vh;
    }
}

@media screen and (max-width:400px) {
    .contact input {
        width: 250px;
    }
}
/* contact */





/* blogs */
.blogs {
    width: 100%;
    background: #f7f5f2;
}

    .blogs h1 {
        text-align: center;
        font-size: 30px;
        color: black;
        font-weight: bold;
    }

        .blogs h1 span {
            color: #505637;
        }

    .blogs .container {
        margin-top: 60px;
    }

    .blogs h5 {
        color: #505637;
    }

#blogbtn {
    width: 200px;
    height: 36px;
    border: none;
    color: white;
    background: #505637;
    cursor: pointer;
}
/* blogs */






/* footer */
#footer {
    width: 100%;
    background: #f4f4ea;
    margin-top: 50px;
}

.footer-logo img {
    width: 180px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}

#footer .socail-links i {
    font-size: 17px;
    margin-left: 10px;
    margin-top: 30px;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.credite {
    color: white;
    margin-top: 20px;
}

.credite {
    text-shadow: 0px 0px 1px black;
}

    .credite a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

        .credite a span {
            color: black;
        }

.copyright span {
    color: black;
}
/* footer */
html {
    scroll-behavior: smooth;
}

.arrow {
    position: fixed;
    border-radius: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}
