@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="container-fluid">
        <div class="announcement-box">

            <h4>Tsutaen Cafe員工守則</h4>
            <img src="~/Img/logo/LOGO2.png" alt="Cafe Image" class="announcement-image" />

            <ul>
                <li>準時上下班，遵守考勤制度。</li>
                <li>保持制服整潔，儀容端正。</li>
                <li>尊重顧客，提供優質的服務體驗。</li>
                <li>嚴格遵守工作流程，保證工作效率和質量。</li>
                <li>愛護工作環境，保持店內的清潔與整齊。</li>
                <li>遵守公司保密政策，保護公司的營業秘密。</li>
                <li>遵循安全操作規範，避免意外發生。</li>
                <li>積極參與培訓和提升自我技能。</li>
            </ul>

        </div>
    </div>

</main>